<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head')-%>
  <body>
    <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <nav
            class="navbar navbar-expand-lg blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
          >
            <div class="container-fluid px-0">
              <img class="w-10" src="./img/7.png">
              
              <button
                class="navbar-toggler shadow-none ms-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div
                class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100"
                id="navigation"
              >
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                  <li class="nav-item my-auto ms-3 ms-lg-0">
                    <a href="/signup"
            ><button type="button" class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0">
              SIGNUP
            </button></a
          >
          <a href="/login"
            ><button type="button" class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0">
              LOGIN
            </button></a
          >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
    </div>
    <!-- ================================= -->
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column"
            >
              <div
                class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                style="
                  background-image: url('https://cdn.pixabay.com/photo/2018/04/11/17/11/background-3311042_1280.jpg');
                  background-size: contain;
                "
                loading="lazy"
              ></div>
            </div>
            <div
              class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5"
            >
              <div
                class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5"
              >
                <div
                  class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent"
                >
                  <div
                    class="bg-gradient-primary shadow-primary border-radius-lg p-3"
                  >
                    <h3 class="text-white text-primary mb-0">
                      Welcome to The Gamers Network
                    </h3>
                  </div>
                </div>
                <div class="card-body">
                  <p class="pb-3">
                    This is a fourm for people who love video games to talk 
                    about gaming news and topics. Come join in and start a 
                    conversation.  
                  </p>
                  <!-- <form id="contact-form" method="post" autocomplete="off">
                    <div class="card-body p-0 my-3">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-group input-group-static mb-4">
                            <label>Full Name</label>
                            <input
                              type="email"
                              class="form-control"
                              placeholder="Full Name"
                            />
                          </div>
                        </div>
                        <div class="col-md-6 ps-md-2">
                          <div class="input-group input-group-static mb-4">
                            <label>Email</label>
                            <input
                              type="email"
                              class="form-control"
                              placeholder="hello@creative-tim.com"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-0 mt-md-0 mt-4">
                        <div class="input-group input-group-static mb-4">
                          <label>How can we help you?</label>
                          <textarea
                            name="message"
                            class="form-control"
                            id="message"
                            rows="6"
                            placeholder="Describe your problem in at least 250 characters"
                          ></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <button
                            type="submit"
                            class="btn bg-gradient-primary mt-3 mb-0"
                          >
                            Send Message
                          </button>
                        </div>
                      </div>
                    </div>
                  </form> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


      <%-include('partials/footer')-%>
    </div>
    <!-- !============================== OLD ABOVE ========================================= -->

    <%-include('partials/scripts')-%>
  </body>
</html>
